body {
  background-color: whitesmoke;
}

#text {
  background-color: #9a9ae0;
  color: #ffffff;
  padding: 10px;
}

#game {
  max-width: 500px;
  max-height: 400px;
  background-color: #ffffff;
  color: #ffffff;
  margin: 30px auto 0px;
  padding: 10px;
}

#controls,
#stats {
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ececed;
}

#monsterStats {
  display: none;
  border: 1px solid #0a0a23;
  padding: 5px;
  color: #ffffff;
  background-color: #c70d0d;
}

.stat {
  padding-right: 10px;
}

button {
  cursor: pointer;
  color: #ffffff;
  background-color: #feac32;
  background-image: linear-gradient(#fecc4c, #ffac33);
  border: 3px solid #feac32;
}

.bi-heart,#healthText,#health1 {  
  color: red;  
}  
.bi-shop{
    color: rgb(70, 117, 34);
}
.bi-house-door{
    color: rgb(208, 113, 19);
}
.bi-shield-lock{
    color:rgb(132, 27, 27);
}
.bi-chevron-double-up,#xpText,#xp1{
    color: blue;
}
.bi-coin,#goldText,#gold1{
    color: gold;
}
/*动画效果*/
.animation {
  position: absolute;
  animation: yourAnimationName 1s forwards;  /* 替换yourAnimationName为你的动画名称 */
}

@keyframes yourAnimationName {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); }}

  .fullscreen-animation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999; /* 确保在最上层显示 */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .fullscreen-animation img {
    max-width: 80%; /* 设置图片的最大宽度 */
    height: auto;
  }